@use "placeholders" as *;
@use 'variables' as *;
/*header*/

.header{
    width:100%;
   
    &__logo{
        width:100%;
        @extend %flex-center;
        margin:0.88rem 0;
    }
    &__location{
        width:100%;
            @extend %flex-center;
        height:3.12rem;
        background: $location-color;  
        gap:1.06rem;
        & input{
            width:6.81rem;
            background:transparent;
            border:none;    
        }
    } 
}
