@use "../utils/variables" as *;
@use "../utils/placeholders" as *;
@use "../base/typography" as *;

.footer {
  @extend %flex-column;
  gap: 1rem;
  padding: 1.38rem 1.56rem;
  background: $footer-bg;
  &__title {
    width: 100%;
    color: $text-white;
    @extend %logo-text;
  }
  &__nav {
    width: 100%;
    &-link {
      @extend %flex-row-flexStart;
      color: $text-white;
      text-decoration: none;
      gap: 1rem;
      margin: 0.44rem;
    }
    &-linkIcon {
      width: 1rem;
    }
  }
}
