@use "../utils/keyframes" as *;
@use "../utils/variables" as *;
@use "../utils/placeholders" as *;
@use "../base/typography" as *;

/* loader */

.loader {
  @extend %flex-row-center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-family: $title-font;
  background: white;
  animation: hide-loader 3000ms forwards; /*fait disparaitre le loader*/
  z-index: 100;
  margin: 0;
  overflow: hidden;

  /*Style et animation des lettres*/

  &__lettre {
    @extend %flex-row-center;
    font-size: 2rem;
    color: #9356dc;
    letter-spacing: 1 rem;
    animation: flash 3000ms, crescendo 3000ms;
  }
  &__lettre:nth-child(1) {
    animation-delay: 0.1s;
  }
  &__lettre:nth-child(2) {
    animation-delay: 0.2s;
  }
  &__lettre:nth-child(3) {
    animation-delay: 0.3s;
  }
  &__lettre:nth-child(4) {
    animation-delay: 0.4s;
  }
  &__lettre:nth-child(5) {
    animation-delay: 0.5s;
  }
  &__lettre:nth-child(6) {
    animation-delay: 0.6s;
  }
  .loader__lettre:nth-child(7) {
    animation-delay: 0.7s;
  }
  &__lettre:nth-child(8) {
    animation-delay: 0.8s;
  }
  &__lettre:nth-child(9) {
    animation-delay: 0.9s;
  }
  &__lettre:nth-child(10) {
    animation-delay: 1s;
  }
}
