@use "../utils/placeholders" as *;
@use "../base/typography" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

main {
  object-fit: cover;
}

/*Intro content*/

.hero {
  background: $accueil_card-bgcolor;
}
.intro-content {
  width: 100%;
  padding: 2.44rem 0 3.56rem 0;
  @extend %flex-row-center;
  flex-direction: column;
  text-align: center;
  & h1 {
    margin: 0 2.63rem;
    width: 17.18rem;

    @media (min-width: 768px) {
      width: 40.31rem;
    }
  }
  & p {
    width: 19.68;
    margin: 0.5rem 1.63rem 1.69rem 2.12rem;
    font-weight: 300;

    @media (min-width: 768px) {
      margin-top: 1.3rem;
    }
  }
}

/*Fonctionnement*/

.fonctionnement {
  @extend %margin-sections-accueil;

  @media (min-width: 1024px) {
    width: 100%;
    padding: 3.12rem 11.25rem;
    margin: 0;
  }
  & h2 {
    padding: 0 0 1.63rem 0;
  }

  &__cards {
    @media (min-width: 1024px) {
      @include flex-row-center;
      gap: 2.28rem;
      width: 100%;
    }
  }

  &__card {
    width: 100%;
    max-width: 18rem;
    height: 4.52rem;
    @extend %flex-row-center;
    margin: auto;
    position: relative;
    margin-bottom: 1.56rem;
    border-radius: 1.25rem;
    background: $accueil_card-bgcolor;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    gap: 2.28rem;

    @media (min-width: 1024px) {
      width: 30%;
      min-width: 13rem;
      gap: 1.3rem;
      margin-left: 0;
    }
    &:nth-child(1):hover {
      .fa-solid {
        color: $primary;
      }
    }
    &:nth-child(2):hover {
      .fa-solid {
        color: $primary;
      }
    }
    &:nth-child(3):hover {
      .fa-solid {
        color: $primary;
      }
    }
  }
  &_card p {
    width: auto;
    font-weight: 500;
  }
  &__card-number {
    position: absolute;
    left: -0.75rem;
    color: $text-white;
    font-size: 0.88rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background: $primary;
    @extend %flex-row-center;
  }

  & .fa-mobile-screen-button {
    @extend %accueil-icone;
  }
  & .fa-list-ul {
    @extend %accueil-icone;
  }
  & .fa-store {
    @extend %accueil-icone;
  }
}

/* Cartes des restaurants*/

.restaurants {
  background: $accueil_card-bgcolor;
  padding-bottom: 4.12rem;
  @media (min-width: 768px) {
    padding: 0 12.5% 1.88rem 12.5%;
  }
  & h2 {
    padding: 2rem 1.1rem;
    @media (min-width: 768px) {
      padding-left: 0;
    }
  }
  &__cards {
    @extend %flex-column-center;
    gap: 1.12rem;

    @media (min-width: 768px) {
      width: 100%;
      display: grid;
      grid-column: 1fr 1fr;
      grid-row: 1fr 1fr;
      margin-bottom: 1.88rem;
      gap: 6.25rem;
      & :nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      & :nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      & :nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      & :nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }
    &-card {
      width: 90%;
      max-width: 21.62rem;
      height: 15.68rem;
      background-color: $text-white;
      border-radius: $restaurant-cards-br;
      position: relative;
      @extend %cursor-pointer;
      @media (min-width: 768px) {
        width: 100%;
        max-width: 34rem;
        margin-bottom: -3.13rem;
      }
    }
    & p {
      line-height: 1.5rem;
    }
    &-photo {
      width: 100%;
      height: 10.9rem;
      border-radius: $restaurant-cards-br;
      object-fit: cover;
      object-position: center 62%;
    }
    &-badgeNew {
      position: absolute;
      top: 0.94rem;
      right: 0.94rem;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 1.81rem;
      color: #008766;
      background: #99e2d0;
    }
    &-content {
      @extend %flex-row-center;
      justify-content: space-between;
      padding: 1rem;
    }
    &-content h2 {
      font-size: 1.25rem;
    }
  }
}

.hidden {
  position: absolute;
  width: 0px;
  height: 0px;
}
