@use "../utils/placeholders" as *;
@use "../utils/variables" as *;
@use "../base/typography" as *;
@use "../components/dishCard" as *;

main {
  width: 100%;
  object-fit: cover;
  overflow-x: hidden;
  box-sizing: border-box;
}
.herolaNote {
  width: 100%;
  height: 19.18rem;
  object-fit: cover;
  @media (min-width: 768px) {
    height: 23.93rem;
    overflow: hidden;
  }

  &__photo {
    object-position: 0 -75px;
    @media (min-width: 768px) {
      object-position: 0 -200px;
    }
  }
}
.hero {
  overflow: hidden;
  width: 100%;
  @media (min-width: 768px) {
    height: 23rem;
  }
  &__photo {
    top: 0;
    bottom: 20rem;
    @media (min-width: 768px) {
      object-position: 0 -350px;
    }
  }
}

.menus {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $accueil_card-bgcolor;
  display: flex;
  gap: 0.75rem;
  margin-bottom: 2.5rem;

  @media (min-width: 768px) {
    margin: 2.5rem auto;
    width: 75%;
  }

  & h2 {
    font-size: 1rem;
  }

  &__titleBar {
    width: 100%;
    height: 4rem;
    position: absolute;
    top: -3rem;
    background: $accueil_card-bgcolor;
    border-radius: 2.5rem 2.5rem 0 0;
    @extend %padding-menus;
    display: flex;
    align-items: center;
    padding-top: 1.94rem;
    @media (min-width: 768px) {
      padding: 3.19rem 0 2.5rem 0;
      justify-content: center;
      top: -4.5rem;
    }
    &-title {
      font-size: 1.75rem;
      width: 85%;
      @extend %logo-text;
      @media (min-width: 768px) {
        width: 32%;
        min-width: 17rem;
      }
    }
  }
  &__borderTitle {
    width: 2.5rem;
    font-size: 1rem;
    line-height: 2rem;
    border-bottom: 0.18rem solid $tertiary;
    @extend %padding-menus;
    padding-left: 0;
    margin: 0 0 0.75rem 1.06rem;
    @media (min-width: 768px) {
      margin-left: 13rem;
    }
  }
}

.cta {
  margin: 2.5rem auto 0 auto;
}
