@use "../utils" as *;
@use "../base/typography" as *;
@use "../components/dishCard" as *;

main {
  width: 100%;
  object-fit: cover;
  overflow-x: hidden;
  box-sizing: border-box;
}
.herolaNote {
  width: 100%;
  height: 100%;
  min-height: 19.18rem;
  object-fit: cover;
  @media (min-width: 768px) {
    height: 23.93rem;
    overflow: hidden;
  }

  &__photo {
    object-position: 0 -75px;
    @media (min-width: 768px) {
      object-position: 0 -200px;
    }
  }
}
.hero {
  position: relative;
  width: 100%;
  height: 17.18rem;
  background: none;
  margin-bottom: -20%;
  overflow: hidden;

  @media (min-width: 768px) {
    min-height: 23.93rem;
    margin-bottom: -4%;
  }
  &__photo {
    position: absolute;
    min-height: 17.18rem;
    bottom: 7.5%;
    z-index: -1;

    @media (min-width: 768px) {
      bottom: -10rem;
    }
  }
}

.menus {
  width: 100%;
  @extend %flex-column;
  background: $accueil_card-bgcolor;
  border-radius: 2.5rem 2.5rem 0 0;
  padding: 2rem 1.06rem 2.5rem 1.06rem;
  @media (min-width: 768px) {
    width: 75%;
    margin: 0 auto;
    padding-top: 3.19rem;
  }

  &__titleBar {
    width: 100%;
    @extend %flex-row-flexStart;
    align-items: center;
    gap: 0.75rem;
    @media (min-width: 768px) {
      justify-content: center;
    }
    &-title {
      font-size: 1.75rem;
      width: 85%;
      @extend %logo-text;
      @media (min-width: 768px) {
        width: 20%;
        min-width: 17rem;
      }
    }
  }
  &__dishcards {
    width: 100%;
    margin: auto;
    max-width: 21.81rem;
    @media (min-width: 768px) {
      max-width: 39.62rem;
    }
    & h2 {
      font-size: 1rem;
      margin: 2.5rem 0 0.75rem 0;
    }

    // animation sur les sous-titres
    &-borderTitle {
      width: 2.5rem;
      font-size: 1rem;
      line-height: 2rem;
      border-bottom: 0.18rem solid $tertiary;
      padding-left: 0;
      animation: crescendo reverse 3000ms forwards;
    }
  }
}
.cta {
  margin: 2.5rem auto 0 auto;
}
