@use "../utils/placeholders" as *;
@use "../utils/variables" as *;
@use "../base/typography" as *;

main {
  width: 100%;
  object-fit: cover;
  overflow-x: hidden;
  box-sizing: border-box;
}
.herolaNote {
  width: 100%;
  height: 19.18rem;
  object-fit: cover;
  @media (min-width: 768px) {
    height: 23.93rem;
    overflow: hidden;
  }

  &__photo {
    object-position: 0 -75px;
    @media (min-width: 768px) {
      object-position: 0 -200px;
    }
  }
}
.hero {
  overflow: hidden;
  width: 100%;
  @media (min-width: 768px) {
    height: 23rem;
  }
  &__photo {
    top: 0;
    bottom: 20rem;
    @media (min-width: 768px) {
      object-position: 0 -350px;
    }
  }
}

.menus {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $accueil_card-bgcolor;
  display: flex;
  gap: 0.75rem;
  margin-bottom: 2.5rem;

  @media (min-width: 768px) {
    margin: 2.5rem auto;
    width: 75%;
  }

  & h2 {
    font-size: 1rem;
  }

  &__titleBar {
    width: 100%;
    height: 4rem;
    position: absolute;
    top: -3rem;
    background: $accueil_card-bgcolor;
    border-radius: 2.5rem 2.5rem 0 0;
    @extend %padding-menus;
    display: flex;
    align-items: center;
    padding-top: 1.94rem;
    @media (min-width: 768px) {
      padding: 3.19rem 0 2.5rem 0;
      justify-content: center;
      top: -4.5rem;
    }
    &-title {
      font-size: 1.75rem;
      width: 85%;
      @extend %logo-text;
      @media (min-width: 768px) {
        width: 32%;
        min-width: 17rem;
      }
    }
  }
  &__borderTitle {
    width: 2.5rem;
    font-size: 1rem;
    line-height: 2rem;
    border-bottom: 0.18rem solid $tertiary;
    @extend %padding-menus;
    padding-left: 0;
    margin: 0 0 0.75rem 1.06rem;
    @media (min-width: 768px) {
      margin-left: 13rem;
    }
  }
}

.dishCard {
  position: relative;
  width: 98%;
  max-width: 21.81rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: auto;
  padding: 1rem;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0.94rem;
  background: var(--White, #fff);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: crescendo reverse 3000ms forwards, translateToRight 3000ms forwards;
  opacity: 0;
  @media (min-width: 768px) {
    max-width: 39.62rem;
  }
  &__content {
    width: 17.93rem;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
  }

  &__title {
    width: 80%;
    margin: 0;
    font-size: 1.12rem;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__subcontent {
    width: 100%;
    display: flex;
    padding: 0.31rem 0 0 0;
    margin: 0;
    color: #000;
    white-space: nowrap;
    &-subtitle {
      width: 20rem;
      margin: 0;
      font-size: 0.94rem;
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 0.5rem;
      @media (min-width: 768px) {
        width: 36rem;
      }
    }
    &-price {
      text-align: end;
      margin: 0 1rem;
      color: #353535;
      font-size: 0.94rem;
      font-weight: 700;
      @media (min-width: 768px) {
        margin: 0 0.5rem 0 0;
      }
    }
  }
}

.dishCard__box {
  position: absolute;
  top: 0;
  left: 21.8rem;
  bottom: 0;
  right: 0;
  width: 20%;
  max-width: 3.68rem;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0 0.94rem 0.94rem 0rem;
  background: #99e2d0;
  @media (min-width: 768px) {
    left: 39.7rem;
  }

  & input {
    display: none;
  }
  &::after {
    content: "\f00c";
    font: var(--fa-font-solid);
    -webkit-font-smoothing: antialiased;
    -webkit-background-clip: text;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
    margin: auto;
    border-radius: 50% 50%;
    background: white;
    color: #99e2d0;
    animation: spinningOut 1s ease-out;
  }
}

.dishCard__box {
  transition: transform 1s ease-in-out;
  transform: translateX(0);
}

.dishCard__content {
  transition: width 1s ease-in-out;
  width: 100%;
}

.dishCard:hover .dishCard__box {
  transform: translateX(-3.65rem);
}

.dishCard:hover .dishCard__content {
  width: 85%;
  @media (min-width: 768px) {
    width: 93%;
  }
}

.dishCard:hover .dishCard__title {
  width: 70%;
}

.dishCard:hover .dishCard__subcontent {
  padding: 0.31rem 0 0 0;
}

.dishCard:hover .dishCard__box::after {
  animation: spinningIn 700ms 200ms ease-in;
}

.cta {
  margin: 2.5rem auto 0 auto;
}
