@use 'variables' as *;

/*Loader'keyframes*/

@keyframes crescendo {
  0%  {opacity:1;}
  50% {opacity:0.7;}
  100% {opacity: 0;}
}
@keyframes flash {
    0% {
        color: #FF79DA;
        text-shadow: 0 0 7px #FF79DA;
    }
    70% {
        color: #9356DC;
        text-shadow: #FF79DA;
    }
    100% {
        color: #9356DC ;
        text-shadow: 0 0 7px #9356DC;
    }
}
@keyframes hide-loader {
  95% {
    opacity: 1;
  }
  
  100% {
    display: none;
    opacity: 0;
  }
}