@use "../utils/variables" as *;
@use "../utils/placeholders" as *;
@use "../base/typography" as *;

/*Style du bouton*/

.btn {
  width: 13.62rem;
  height: 3.12rem;
  margin: auto;
  border: none;
  color: $text-white;
  font-family: $text-font;
  border-radius: $button-border-rad;
  background: $button-gradient-1;
  padding: 0.81rem 1.17rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  @extend %cursor-pointer;

  &:after {
    content: "";
    height: 3.12rem;
    border: none;
    border-radius: $button-border-rad;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $button-gradient-2;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 250ms;
    z-index: -1;
  }
  &:active {
    &:after {
      opacity: 1;
    }
  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

/*Bouton favoris coeur*/

.Heart {
  width: 1.35rem;
  position: relative;
  cursor: pointer;

  &__likeButton::after {
    content: "\f004";
    font: var(--fa-font-solid);
    font-size: 1.37rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: O;
    opacity: 0;
    background: $button-gradient-1;
    -webkit-font-smoothing: antialiased;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__likeButton .fa-heart {
    font-size: 1.37rem;
  }
  // animation au survol du coeur outlined

  input:hover {
    & + .Heart__likeButton .fa-heart {
      transform: scale(1.15);
    }
  }

  // animation au survol du coeur outlined

  input:hover {
    & + .Heart__likeButton::after {
      transform: scale(1.15);
    }
  }
  // Disparition du coeur outlined au clic

  input:checked {
    & + .Heart__likeButton .fa-heart {
      animation: fadeOut 700ms forwards;
    }

    //Apparition du coeur filled

    & + .Heart__likeButton::after {
      animation: fadeIn 700ms ease-in forwards;
    }
  }

  //Disparition du coeur filled

  input:not(:checked) {
    & + .Heart__likeButton::after {
      animation: spinningOut 700ms ease-out;
    }
    & + .Heart__likeButton .fa-heart {
      animation: fadeIn 400ms ease-in forwards;
    }
  }
}
