@use "../utils" as *;

.dishCard {
  position: relative;
  width: 100%;
  max-width: 21.81rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  padding: 0.94rem 0 0.94rem 0.94rem;
  margin: 0.75rem 0 0.75rem 0;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0.94rem;
  background: var(--White, #fff);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  @media (min-width: 768px) {
    width: 100%;
    max-width: 39.62rem;
  }

  //Apparition des cartes progressive

  animation: crescendo reverse 2250ms forwards, translateToRight 2250ms forwards;
  opacity: 0;

  &:nth-child(n + 1):nth-child(n + 6) {
    animation-delay: 500ms;
  }

  &:nth-child(n + 7):nth-child(n + 10) {
    animation-delay: 750ms;
  }

  &__content {
    width: 17.93rem;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    & input {
      display: none;
    }
  }

  //checkbox de sélection du plat

  &__box {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 3.68rem;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 0 0.94rem 0.94rem 0rem;
    background: $tertiary;
    transition: transform 1s ease-in-out;

    //case cochée

    &::after {
      content: "\f00c";
      font: var(--fa-font-solid);
      -webkit-font-smoothing: antialiased;
      -webkit-background-clip: text;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.2rem;
      height: 1.2rem;
      margin: auto;
      border-radius: 50% 50%;
      background: white;
      color: #99e2d0;
      animation: spinningOut 1s ease-out;
    }
    @media (min-width: 768px) {
      left: 39.7rem;
    }
  }

  &__title {
    width: 80%;
    margin: 0;
    font-size: 1.12rem;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: width 1s ease-in-out;
  }
  &__subcontent {
    width: 100%;
    display: flex;
    padding: 0.31rem 0 0 0;
    color: #000;
    white-space: nowrap;
    transition: width 1s ease-in-out;
    &-subtitle {
      width: 20rem;
      margin: 0;
      font-size: 0.94rem;
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 0.5rem;
      @media (min-width: 768px) {
        width: 36rem;
      }
    }
    &-price {
      text-align: end;
      color: #353535;
      padding: 0 0.94rem 0 0;
      font-size: 0.94rem;
      font-weight: 700;
      @media (min-width: 768px) {
      }
    }
  }
  &__content {
    transition: width 1s ease-in-out;
    width: 100%;

    //animation de la checkbox

    & input:checked {
      ~ .dishCard__box {
        transform: translateX(-3.65rem);
      }

      ~ .dishCard__content {
        width: 85%;
        @media (min-width: 768px) {
          width: 93%;
        }
      }

      ~ .dishCard__title {
        width: 70%;
      }

      ~ .dishCard__subcontent {
        width: 82%;
      }

      ~ .dishCard__box::after {
        animation: spinningIn 700ms 200ms ease-in forwards;
      }
    }
  }
}
