/*font-style*/

$title-font: "Shrikhand", serif;
$text-font: "roboto", sans-serif;

h1,
h2 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  font-family: Roboto;
  font-weight: 700;
}

p {
  font-family: Roboto;
  font-size: 1rem;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 100;
}
