@charset "UTF-8";
/*Loader'keyframes*/
@keyframes crescendo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flash {
  0% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
  70% {
    color: #9356dc;
    text-shadow: 0 0 7px #ff79da;
  }
  100% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }
}
@keyframes hide-loader {
  95% {
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
/*Animation Bouton like*/
@keyframes heartBtn-filling {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes heartBtn-outlines-fading {
  0%, 50% {
    opacity: 1;
  }
  70%, 100% {
    opacity: 0;
  }
}
@keyframes heartBtn-emptying {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
  }
}
/*Animation pour le bouton favoris coeur et menu restaurants*/
@keyframes fadeOut {
  0% {
    opacity: 1;
    scale: 1.5;
  }
  100% {
    opacity: 0;
    scale: 0.3;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    scale: 0.5;
  }
  90% {
    opacity: 1;
    scale: 1.25;
  }
  100% {
    opacity: 1;
    scale: 1.15;
  }
}
@keyframes spinningOut {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    scale: 1.5;
  }
  10% {
    transform: rotate(10deg);
    opacity: 1;
    scale: 1.25;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    scale: 0.3;
  }
}
@keyframes spinningIn {
  0% {
    transform: rotate(360deg);
    scale: 0;
    opacity: 0;
  }
  10% {
    transform: rotate(300deg);
    scale: 0.3;
    opacity: 0.3;
  }
  100% {
    transform: rotate(0deg);
    scale: 1;
    opacity: 1;
  }
}
@keyframes translateToRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
/*colors*/
/*Button*/
/*breakpoints*/
/*cards restaurant*/
/*define the restaurants cards border-radius*/
/*Cards accueil*/
/*font-style*/
h1,
h2 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  font-family: Roboto;
  font-weight: 700;
}

p {
  font-family: Roboto;
  font-size: 1rem;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 100;
}

.btn, .fonctionnement__card, .fonctionnement__card-number, .restaurants__cards-content, .header__location, .loader, .loader__lettre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-content, .restaurants__cards, .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav-link, .menus__titleBar {
  display: flex;
  justify-content: flex-start;
}

.footer, .menus {
  display: flex;
  flex-direction: column;
}

.fonctionnement {
  margin: 3.56rem 1.25rem;
}

.fonctionnement .fa-mobile-screen-button, .fonctionnement .fa-list-ul, .fonctionnement .fa-store {
  width: 0.81rem;
  height: 1.24rem;
  color: #7e7e7e;
  margin-left: 1.5rem;
}

.footer__title, .menus__titleBar-title {
  font-family: "Shrikhand", serif;
  font-size: 1.12rem;
  font-weight: 400;
}

.btn, .restaurants__cards-card {
  cursor: pointer;
}

/* loader */
.loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-family: "Shrikhand", serif;
  background: white;
  animation: hide-loader 3000ms forwards; /*fait disparaitre le loader*/
  z-index: 100;
  margin: 0;
  overflow: hidden;
  /*Style et animation des lettres*/
}
.loader__lettre {
  font-size: 2rem;
  color: #9356dc;
  letter-spacing: 1rem;
  animation: flash 3000ms, crescendo 3000ms;
}
@media (min-width: 768px) {
  .loader__lettre {
    font-size: 5rem;
  }
}
.loader__lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.loader__lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.loader__lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.loader__lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.loader__lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.loader__lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.loader .loader__lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.loader__lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.loader__lettre:nth-child(9) {
  animation-delay: 0.9s;
}
.loader__lettre:nth-child(10) {
  animation-delay: 1s;
}

/*header*/
.header {
  width: 100%;
}
@media (min-width: 768px) {
  .header {
    height: 6rem;
    justify-content: center;
  }
}
.header__logo {
  width: 40%;
  max-width: 10.12rem;
  margin: 0.88rem 0;
}
.header__location {
  width: 100%;
  height: 3.12rem;
  background: #eaeaea;
  font-family: "roboto", sans-serif;
  color: #353535;
  font-weight: 500;
  gap: 1.06rem;
}
.header__location input {
  color: #353535;
  font-size: 1rem;
  width: 6.81rem;
  background: transparent;
  border: none;
  outline: none;
}
.header .fa-arrow-left {
  position: absolute;
  top: 0.5rem;
  left: 0;
  padding: 0.3rem 0 0rem 1rem;
  color: #353535;
}
@media (min-width: 768px) {
  .header .fa-arrow-left {
    top: 2.4rem;
  }
}

/*Mixin for pseudo-elements*/
main {
  object-fit: cover;
}

/*Intro content*/
.hero {
  background: #f6f6f6;
}

.intro-content {
  width: 100%;
  padding: 2.44rem 0 3.56rem 0;
  text-align: center;
}
.intro-content h1 {
  margin: 0 2.63rem;
  width: 17.18rem;
}
@media (min-bwidth: 768px) {
  .intro-content h1 {
    width: 40.31rem;
  }
}
.intro-content p {
  margin: 0.5rem 1.63rem 1.69rem 2.12rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  .intro-content p {
    margin-top: 1.3rem;
  }
}

/*Fonctionnement*/
@media (min-width: 1024px) {
  .fonctionnement {
    width: 100%;
    padding: 3.12rem 11.25rem;
    margin: 0;
  }
}
.fonctionnement h2 {
  padding: 0 0 1.63rem 0.5rem;
}
@media (min-width: 1024px) {
  .fonctionnement__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.28rem;
    width: 100%;
  }
}
.fonctionnement__card {
  width: 100%;
  max-width: 18rem;
  height: 4.52rem;
  margin: auto;
  position: relative;
  margin-bottom: 1.56rem;
  border-radius: 1.25rem;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 2.28rem;
}
@media (min-width: 1024px) {
  .fonctionnement__card {
    width: 30%;
    min-width: 13rem;
    gap: 1.3rem;
    margin-left: 0;
  }
}
.fonctionnement_card p {
  width: auto;
  font-weight: 500;
}
.fonctionnement__card-number {
  position: absolute;
  left: -0.75rem;
  color: #fff;
  font-size: 0.88rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background: #9356dc;
}
.fonctionnement .fa-mobile-screen-button {
  margin-left: 2rem;
}
.fonctionnement .fa-store {
  color: #9356dc;
}

/* Cartes des restaurants*/
.restaurants {
  background: #f6f6f6;
  padding-bottom: 4.12rem;
}
@media (min-width: 768px) {
  .restaurants {
    padding: 0 12.5% 1.88rem 12.5%;
  }
}
.restaurants h2 {
  padding: 2rem 1.1rem;
}
@media (min-width: 768px) {
  .restaurants h2 {
    padding-left: 0;
  }
}
.restaurants__cards {
  gap: 1.12rem;
}
@media (min-width: 768px) {
  .restaurants__cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 1.88rem;
    gap: 6.25rem;
  }
  .restaurants__cards :nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .restaurants__cards :nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .restaurants__cards :nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .restaurants__cards :nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.restaurants__cards-card {
  width: 90%;
  max-width: 21.62rem;
  height: 15.68rem;
  background-color: #fff;
  border-radius: 0.94rem;
  position: relative;
}
@media (min-width: 768px) {
  .restaurants__cards-card {
    width: 100%;
    max-width: 34rem;
    margin-bottom: -3.13rem;
  }
}
.restaurants__cards p {
  line-height: 1.5rem;
}
.restaurants__cards-photo {
  width: 100%;
  height: 10.9rem;
  border-radius: 0.94rem;
  object-fit: cover;
  object-position: center 62%;
}
.restaurants__cards-badgeNew {
  position: absolute;
  top: 0.94rem;
  right: 0.94rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 1.81rem;
  color: #008766;
  background: #99e2d0;
}
.restaurants__cards-content {
  justify-content: space-between;
  padding: 1rem;
}
.restaurants__cards-content h2 {
  font-size: 1.25rem;
}

.hidden {
  position: absolute;
  width: 0px;
  height: 0px;
}

/*Permet à la page de descendre progressivement plutot que de sauter
au clique d'une ancre*/
html {
  scroll-behavior: smooth;
}

/* inclus les bordures pour les dimensions */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset toutes les marges et padding pour un comportement cohérent */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* indique une hauteur d'écran responsive et une largeur max, ainsi qu'une position centrée */
body {
  min-height: 100vh;
  max-width: 1440px;
  margin: auto;
}

/* responsive images/*/
img {
  display: block;
  max-width: 100%;
}

/*annule le style des liens et liste*/
menu,
ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.dishCard {
  position: relative;
  width: 100%;
  max-width: 21.81rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  padding: 0.94rem 0 0.94rem 0.94rem;
  margin: 0.75rem 0 0.75rem 0;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0.94rem;
  background: var(--White, #fff);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: crescendo reverse 1000ms forwards, translateToRight 750ms forwards;
  opacity: 0;
}
@media (min-width: 768px) {
  .dishCard {
    max-width: 39.62rem;
  }
}
.dishCard--1 {
  animation-delay: 300ms;
}
.dishCard--2 {
  animation-delay: 600ms;
}
.dishCard--3 {
  animation-delay: 900ms;
}
.dishCard__title {
  width: 100%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: width 1s ease-in-out;
}
.dishCard__title-strong {
  font-family: "roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 900;
}
.dishCard__title-subtitle {
  margin-top: 0.5rem;
  font-family: "roboto", sans-serif;
  font-size: 0.94019rem;
  font-weight: 300;
}
.dishCard__price {
  margin: 1.25rem 1rem 0 1rem;
  color: #353535;
  font-family: "roboto", sans-serif;
  font-size: 0.94rem;
  font-weight: 700;
  transition: margin 1s ease-in-out;
}

.dishCard__box {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  right: 0;
  width: 3.68rem;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0 0.94rem 0.94rem 0rem;
  background: #99e2d0;
}
.dishCard__box::after {
  content: "\f00c";
  font: var(--fa-font-solid);
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  margin: auto;
  border-radius: 50% 50%;
  background: white;
  color: #99e2d0;
  animation: spinningOut 1s ease-out;
}

.dishCard__box {
  transition: transform 1s ease-in-out;
  transform: translateX(0);
}

input:checked + .dishCard__box {
  transform: translateX(-3.68rem);
}

input:checked ~ .dishCard__title {
  width: 80%;
}

input:checked ~ .dishCard__price {
  margin-right: 4.9rem;
}

input:checked + .dishCard__box::after {
  animation: spinningIn 700ms 200ms ease-in;
}

main {
  width: 100%;
  object-fit: cover;
  overflow-x: hidden;
  box-sizing: border-box;
}

.bannerLaNote {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 20.13rem;
  margin-bottom: -7.5%;
  overflow: hidden;
  object-fit: cover;
}
@media (min-width: 768px) {
  .bannerLaNote {
    min-height: 23.93rem;
    margin-bottom: -5%;
    overflow: hidden;
  }
}
.bannerLaNote__photo {
  position: absolute;
  top: -65px;
  z-index: -1;
}
@media (min-width: 768px) {
  .bannerLaNote__photo {
    top: -50rem;
  }
}
@media (min-width: 1025px) and (max-width: 1260px) {
  .bannerLaNote__photo {
    top: -40rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .bannerLaNote__photo {
    top: -30rem;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 20.13rem;
  background: none;
  margin-bottom: -20%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .banner {
    min-height: 23.93rem;
    margin-bottom: -4%;
  }
}
.banner__photo {
  position: absolute;
  min-height: 20.13rem;
  bottom: 7.5%;
  z-index: -1;
}
@media (min-width: 768px) {
  .banner__photo {
    min-height: 23.93rem;
    bottom: -10rem;
  }
}

.menus {
  width: 100%;
  background: #f6f6f6;
  border-radius: 2.5rem 2.5rem 0 0;
  padding: 2rem 1.06rem 2.5rem 1.06rem;
}
@media (min-width: 768px) {
  .menus {
    width: 90%;
    max-width: 65.93rem;
    margin: 0 auto;
    padding-top: 3.19rem;
  }
}
.menus__titleBar {
  width: 100%;
  align-items: center;
  gap: 0.75rem;
  position: relative;
}
@media (min-width: 768px) {
  .menus__titleBar {
    width: 90%;
    max-width: 39.62rem;
    justify-content: center;
    margin: auto;
  }
}
.menus__titleBar-title {
  font-size: 1.75rem;
  width: 85%;
}
@media (min-width: 768px) {
  .menus__titleBar-title {
    width: 20%;
    min-width: 17rem;
  }
}
.menus__dishcards {
  width: 100%;
  margin: auto;
  max-width: 21.81rem;
}
@media (min-width: 768px) {
  .menus__dishcards {
    max-width: 39.62rem;
  }
}
.menus__dishcards h2 {
  font-size: 1rem;
  margin: 2.5rem 0 0.75rem 0;
}
.menus__dishcards-borderTitle {
  width: 2.5rem;
  font-size: 1rem;
  line-height: 2rem;
  border-bottom: 0.18rem solid #99e2d0;
  padding-left: 0;
  animation: crescendo reverse 3000ms forwards;
}

.cta {
  margin: 2.5rem auto;
}

.footer {
  gap: 1rem;
  padding: 1.38rem 1.56rem;
  background: #353535;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 3rem;
  }
}
.footer__title {
  color: #fff;
}
.footer__nav {
  width: 100%;
}
@media (min-width: 768px) {
  .footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .footer__nav :nth-child(3) {
    margin-left: 1.5rem;
  }
}
.footer__nav-link {
  color: #fff;
  text-decoration: none;
  gap: 1rem;
  margin: 0.44rem;
}
.footer__nav-linkIcon {
  width: 1rem;
}

/*Style du bouton*/
.btn {
  width: 13.62rem;
  height: 3.12rem;
  align-items: center;
  border: none;
  color: #fff;
  font-family: "roboto", sans-serif;
  text-align: center;
  border-radius: 1.56rem;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  padding: 0.81rem 1.17rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.btn:after {
  content: "";
  height: 3.12rem;
  border: none;
  border-radius: 1.56rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 250ms;
  z-index: -1;
}
.btn:active:after {
  opacity: 1;
}
.btn:hover:after {
  opacity: 1;
}

/*Bouton favoris coeur*/
.Heart {
  width: 1.37rem;
  position: absolute;
  cursor: pointer;
}
.Heart__accueil {
  bottom: 1.75rem;
  right: 1.5rem;
}
.Heart__restaurant {
  left: 18.75rem;
}
@media (min-width: 768px) {
  .Heart__restaurant {
    top: 0.65rem;
    bottom: 0;
    left: 30rem;
  }
}
@media (max-width: 345px) {
  .Heart__restaurant {
    left: 90%;
  }
}
.Heart__likeButton::after {
  content: "\f004";
  font: var(--fa-font-solid);
  font-size: 1.37rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Heart__likeButton .fa-heart {
  font-size: 1.37rem;
}
.Heart input:hover + .Heart__likeButton .fa-heart {
  transform: scale(1.15);
}
.Heart input:hover + .Heart__likeButton::after {
  transform: scale(1.15);
}
.Heart input:checked + .Heart__likeButton .fa-heart {
  animation: fadeOut 700ms forwards;
}
.Heart input:checked + .Heart__likeButton::after {
  animation: fadeIn 700ms ease-in forwards;
}
.Heart input:not(:checked) + .Heart__likeButton::after {
  animation: spinningOut 700ms ease-out;
}
.Heart input:not(:checked) + .Heart__likeButton .fa-heart {
  animation: fadeIn 400ms ease-in forwards;
}/*# sourceMappingURL=style.css.map */