/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*colors*/
/*Button*/
/*breakpoints*/
/*Mixin for pseudo-elements*/
.intro-content, .fonctionnement_card_number, .header__logo, .header__location, .loader__lettre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonctionnement__card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Loader'keyframes*/
@keyframes crescendo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  70% {
    color: #9356DC;
    text-shadow: #FF79DA;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
}
@keyframes hide-loader {
  95% {
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
/*font-style*/
h1 {
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}

/* loader */
.loader {
  display: none; /*    @extend %flex-center;*/
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Shrikhand", serif;
  background: white;
  animation: hide-loader 2000ms forwards; /*fait disparaitre le loader*/
  z-index: 100;
}
.loader__lettre {
  width: 100%;
  font-size: 2rem;
  color: #9356DC;
  letter-spacing: 1 rem;
  animation: flash 2000ms, crescendo 2000ms;
}
.loader__lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.loader__lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.loader__lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.loader__lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.loader__lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.loader__lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.loader .loader__lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.loader__lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.loader__lettre:nth-child(9) {
  animation-delay: 0.9s;
}
.loader__lettre:nth-child(10) {
  animation-delay: 1s;
}

/*header*/
.header {
  width: 100%;
}
.header__logo {
  width: 100%;
  margin: 0.88rem 0;
}
.header__location {
  width: 100%;
  height: 3.12rem;
  background: #99E2D0;
  font-family: "roboto", sans-serif;
  color: #353535;
  font-weight: 500;
  gap: 1.06rem;
}
.header__location input {
  color: #353535;
  font-size: 1rem;
  width: 6.81rem;
  background: transparent;
  border: none;
  outline: none;
}
.header .fa-arrow-left {
  display: none;
  position: absolute;
  padding: 0.3rem 0 0rem 1rem;
  color: #353535;
}

/*Intro content*/
.intro-content {
  width: 100%;
  margin: 2.44rem 0 3.56rem 0;
  flex-direction: column;
  text-align: center;
}
.intro-content h1 {
  margin: 0 2.63rem;
}
.intro-content h1 {
  width: 17.18rem;
}
.intro-content p {
  width: 19.68;
  margin: 0.5rem 1.63rem 1.69rem 2.12rem;
  font-family: "roboto", sans-serif;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
}

/*Fonctionnement*/
.fonctionnement {
  margin: 1.25rem;
}
.fonctionnement h1 {
  padding: 3rem 0 1.63rem 0;
}
.fonctionnement__card {
  width: 20.15rem;
  height: 4.52rem;
  border-radius: 1.25rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 1.3rem;
}
.fonctionnement_card_number {
  position: absolute;
  color: white;
  font-size: 0.88rem;
  font-family: "roboto", sans-serif;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background: #FF79DA;
}

/*Style du bouton*/
.btn {
  width: 11.62rem;
  height: 3.12rem;
  border: none;
  color: #fff;
  border-radius: 1.56rem;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.btn:after {
  content: "";
  height: 3.12rem;
  border: none;
  border-radius: 1.56rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 250ms;
  z-index: -1;
}
.btn:active {
  cursor: pointer;
}
.btn:active:after {
  opacity: 1;
}
.btn:hover {
  cursor: pointer;
}
.btn:hover:after {
  opacity: 1;
}