html {
  scroll-behavior: smooth;
}

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* min body height */
body {
  min-height: 100vh;
  max-width: 1440px;
  margin: auto;
}

/* responsive images/videos */
img {
  display: block;
  max-width: 100%;
}

menu,
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Loader'keyframes*/
@keyframes crescendo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flash {
  0% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
  70% {
    color: #9356dc;
    text-shadow: 0 0 7px #ff79da;
  }
  100% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }
}
@keyframes hide-loader {
  95% {
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
/*Animation Bouton like*/
@keyframes heartBtn-filling {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes heartBtn-outlines-fading {
  0%, 50% {
    opacity: 1;
  }
  70%, 100% {
    opacity: 0;
  }
}
@keyframes heartBtn-emptying {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
  }
}
/*Animation pour le bouton favoris coeur et menu restaurants*/
@keyframes fadeOut {
  0% {
    opacity: 1;
    scale: 1.5;
  }
  100% {
    opacity: 0;
    scale: 0.3;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    scale: 0.5;
  }
  90% {
    opacity: 1;
    scale: 1.25;
  }
  100% {
    opacity: 1;
    scale: 1.15;
  }
}
@keyframes spinningOut {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    scale: 1.5;
  }
  10% {
    transform: rotate(10deg);
    opacity: 1;
    scale: 1.25;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    scale: 0.3;
  }
}
@keyframes spinningIn {
  0% {
    transform: rotate(360deg);
    scale: 0;
    opacity: 0;
  }
  10% {
    transform: rotate(300deg);
    scale: 0.3;
    opacity: 0.3;
  }
  100% {
    transform: rotate(0deg);
    scale: 1;
    opacity: 1;
  }
}
@keyframes translateToRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
/*Mixin for pseudo-elements*/
/*colors*/
/*Button*/
/*breakpoints*/
/*cards restaurant*/
/*define the restaurants cards border-radius*/
/*Cards accueil*/
/*font-style*/
h1,
h2 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  font-family: Roboto;
  font-weight: 700;
}

p {
  font-family: Roboto;
  font-size: 1rem;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 100;
}

.intro-content, .fonctionnement__card, .fonctionnement_card_number, .restaurants__cards-content, .header__location, .loader, .loader__lettre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants__cards, .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav-link, .menus__titleBar {
  display: flex;
  justify-content: flex-start;
}

.footer, .menus {
  display: flex;
  flex-direction: column;
}

.fonctionnement {
  margin: 3.56rem 1.25rem;
}

.fonctionnement .fa-mobile-screen-button, .fonctionnement .fa-list-ul, .fonctionnement .fa-store {
  width: 0.81rem;
  height: 1.24rem;
  color: #7e7e7e;
  margin-left: 1.5rem;
}

.footer__title, .menus__titleBar-title {
  font-family: "Shrikhand", serif;
  font-size: 1.12rem;
  font-weight: 400;
}

.btn, .restaurants__cards-card {
  cursor: pointer;
}

/* loader */
.loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-family: "Shrikhand", serif;
  background: white;
  animation: hide-loader 3000ms forwards; /*fait disparaitre le loader*/
  z-index: 100;
  margin: 0;
  overflow: hidden;
  /*Style et animation des lettres*/
}
.loader__lettre {
  font-size: 2rem;
  color: #9356dc;
  letter-spacing: 1 rem;
  animation: flash 3000ms, crescendo 3000ms;
}
.loader__lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.loader__lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.loader__lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.loader__lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.loader__lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.loader__lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.loader .loader__lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.loader__lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.loader__lettre:nth-child(9) {
  animation-delay: 0.9s;
}
.loader__lettre:nth-child(10) {
  animation-delay: 1s;
}

/*header*/
.header {
  width: 100%;
}
.header__logo {
  width: 40%;
  max-width: 10.12rem;
  margin: 0.88rem 0;
}
.header__location {
  width: 100%;
  height: 3.12rem;
  background: #eaeaea;
  font-family: "roboto", sans-serif;
  color: #353535;
  font-weight: 500;
  gap: 1.06rem;
}
.header__location input {
  color: #353535;
  font-size: 1rem;
  width: 6.81rem;
  background: transparent;
  border: none;
  outline: none;
}
.header .fa-arrow-left {
  position: absolute;
  top: 0.5rem;
  left: 0;
  padding: 0.3rem 0 0rem 1rem;
  color: #353535;
}

main {
  object-fit: cover;
}

/*Intro content*/
.hero {
  background: #f6f6f6;
}

.intro-content {
  width: 100%;
  padding: 2.44rem 0 3.56rem 0;
  flex-direction: column;
  text-align: center;
}
.intro-content h1 {
  margin: 0 2.63rem;
  width: 17.18rem;
}
@media (min-width: 768px) {
  .intro-content h1 {
    width: 40.31rem;
  }
}
.intro-content p {
  width: 19.68;
  margin: 0.5rem 1.63rem 1.69rem 2.12rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  .intro-content p {
    margin-top: 1.3rem;
  }
}

/*Fonctionnement*/
@media (min-width: 768px) {
  .fonctionnement {
    padding: 0 11.25rem;
  }
}
.fonctionnement h2 {
  padding: 0 0 1.63rem 0;
}
@media (min-width: 768px) {
  .fonctionnement__cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.fonctionnement__card {
  max-width: 20rem;
  height: 4.52rem;
  margin: auto;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 1.56rem;
  border-radius: 1.25rem;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 1.3rem;
}
@media (min-width: 768px) {
  .fonctionnement__card {
    width: 30%;
    gap: 1.3rem;
  }
}
.fonctionnement_card p {
  width: auto;
  font-weight: 500;
}
.fonctionnement_card_number {
  position: absolute;
  left: -0.75rem;
  color: #fff;
  font-size: 0.88rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background: #9356dc;
}
.fonctionnement .fa-store {
  color: #9356dc;
}

/* Cartes des restaurants*/
.restaurants {
  background: #f6f6f6;
  padding-bottom: 4.12rem;
}
@media (min-width: 768px) {
  .restaurants {
    padding: 0 11.25rem 1.88rem 11.25rem;
  }
}
.restaurants h2 {
  padding: 2rem 1.1rem;
}
@media (min-width: 768px) {
  .restaurants h2 {
    padding-left: 0;
  }
}
.restaurants__cards {
  gap: 1.12rem;
}
@media (min-width: 768px) {
  .restaurants__cards {
    margin-bottom: 1.88rem;
  }
}
@media (min-width: 768px) {
  .restaurants__cards {
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr;
    width: 100%;
  }
  .restaurants__cards :nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .restaurants__cards :nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .restaurants__cards :nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .restaurants__cards :nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.restaurants__cards-card {
  width: 90%;
  max-width: 21.62rem;
  height: 15.68rem;
  background-color: #fff;
  border-radius: 0.94rem;
  position: relative;
}
@media (min-width: 768px) {
  .restaurants__cards-card {
    max-width: 30.62rem;
  }
}
.restaurants__cards p {
  line-height: 1.5rem;
}
.restaurants__cards-photo {
  width: 100%;
  height: 10.9rem;
  border-radius: 0.94rem;
  object-fit: cover;
  object-position: center 62%;
}
.restaurants__cards-badgeNew {
  position: absolute;
  top: 0.94rem;
  right: 0.94rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 1.81rem;
  color: #008766;
  background: #99e2d0;
}
.restaurants__cards-content {
  justify-content: space-between;
  padding: 1rem;
}
.restaurants__cards-content h2 {
  font-size: 1.25rem;
}

.hidden {
  position: absolute;
  width: 0px;
  height: 0px;
}

/*Style du bouton*/
.btn {
  width: 13.62rem;
  height: 3.12rem;
  margin: auto;
  border: none;
  color: #fff;
  font-family: "roboto", sans-serif;
  border-radius: 1.56rem;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  padding: 0.81rem 1.17rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.btn:after {
  content: "";
  height: 3.12rem;
  border: none;
  border-radius: 1.56rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 250ms;
  z-index: -1;
}
.btn:active:after {
  opacity: 1;
}
.btn:hover:after {
  opacity: 1;
}

/*Bouton favoris coeur*/
.Heart {
  width: 1.35rem;
  position: relative;
  cursor: pointer;
}
.Heart__likeButton::after {
  content: "\f004";
  font: var(--fa-font-solid);
  font-size: 1.37rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: O;
  opacity: 0;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Heart__likeButton .fa-heart {
  font-size: 1.37rem;
}
.Heart input:hover + .Heart__likeButton .fa-heart {
  transform: scale(1.15);
}
.Heart input:hover + .Heart__likeButton::after {
  transform: scale(1.15);
}
.Heart input:checked + .Heart__likeButton .fa-heart {
  animation: fadeOut 700ms forwards;
}
.Heart input:checked + .Heart__likeButton::after {
  animation: fadeIn 700ms ease-in forwards;
}
.Heart input:not(:checked) + .Heart__likeButton::after {
  animation: spinningOut 700ms ease-out;
}
.Heart input:not(:checked) + .Heart__likeButton .fa-heart {
  animation: fadeIn 400ms ease-in forwards;
}

.footer {
  gap: 1rem;
  padding: 1.38rem 1.56rem;
  background: #353535;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 3rem;
  }
}
.footer__title {
  color: #fff;
}
.footer__nav {
  width: 100%;
}
@media (min-width: 768px) {
  .footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .footer__nav :nth-child(3) {
    margin-left: 1.5rem;
  }
}
.footer__nav-link {
  color: #fff;
  text-decoration: none;
  gap: 1rem;
  margin: 0.44rem;
}
.footer__nav-linkIcon {
  width: 1rem;
}

.dishCard {
  position: relative;
  width: 100%;
  max-width: 21.81rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  padding: 0.94rem 0 0.94rem 0.94rem;
  margin: 0.75rem 0 0.75rem 0;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0.94rem;
  background: var(--White, #fff);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: crescendo reverse 2250ms forwards, translateToRight 2250ms forwards;
  opacity: 0;
}
@media (min-width: 768px) {
  .dishCard {
    width: 100%;
    max-width: 39.62rem;
  }
}
.dishCard:nth-child(n+1):nth-child(n+6) {
  animation-delay: 500ms;
}
.dishCard:nth-child(n+7):nth-child(n+10) {
  animation-delay: 750ms;
}
.dishCard__content {
  width: 17.93rem;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}
.dishCard__content input {
  display: none;
}
.dishCard__box {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 3.68rem;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0 0.94rem 0.94rem 0rem;
  background: #99e2d0;
  transition: transform 1s ease-in-out;
}
.dishCard__box::after {
  content: "\f00c";
  font: var(--fa-font-solid);
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  margin: auto;
  border-radius: 50% 50%;
  background: white;
  color: #99e2d0;
  animation: spinningOut 1s ease-out;
}
@media (min-width: 768px) {
  .dishCard__box {
    left: 39.7rem;
  }
}
.dishCard__title {
  width: 80%;
  margin: 0;
  font-size: 1.12rem;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: width 1s ease-in-out;
}
.dishCard__subcontent {
  width: 100%;
  display: flex;
  padding: 0.31rem 0 0 0;
  color: #000;
  white-space: nowrap;
  transition: width 1s ease-in-out;
}
.dishCard__subcontent-subtitle {
  width: 20rem;
  margin: 0;
  font-size: 0.94rem;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.5rem;
}
@media (min-width: 768px) {
  .dishCard__subcontent-subtitle {
    width: 36rem;
  }
}
.dishCard__subcontent-price {
  text-align: end;
  color: #353535;
  padding: 0 0.94rem 0 0;
  font-size: 0.94rem;
  font-weight: 700;
}
.dishCard__content {
  transition: width 1s ease-in-out;
  width: 100%;
}
.dishCard__content input:checked ~ .dishCard__box {
  transform: translateX(-3.65rem);
}
.dishCard__content input:checked ~ .dishCard__content {
  width: 85%;
}
@media (min-width: 768px) {
  .dishCard__content input:checked ~ .dishCard__content {
    width: 93%;
  }
}
.dishCard__content input:checked ~ .dishCard__title {
  width: 70%;
}
.dishCard__content input:checked ~ .dishCard__subcontent {
  width: 82%;
}
.dishCard__content input:checked ~ .dishCard__box::after {
  animation: spinningIn 700ms 200ms ease-in forwards;
}

main {
  width: 100%;
  object-fit: cover;
  overflow-x: hidden;
  box-sizing: border-box;
}

.herolaNote {
  width: 100%;
  height: 100%;
  min-height: 19.18rem;
  object-fit: cover;
}
@media (min-width: 768px) {
  .herolaNote {
    height: 23.93rem;
    overflow: hidden;
  }
}
.herolaNote__photo {
  object-position: 0 -75px;
}
@media (min-width: 768px) {
  .herolaNote__photo {
    object-position: 0 -200px;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 17.18rem;
  background: none;
  margin-bottom: -20%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .hero {
    min-height: 23.93rem;
    margin-bottom: -4%;
  }
}
.hero__photo {
  position: absolute;
  min-height: 17.18rem;
  bottom: 7.5%;
  z-index: -1;
}
@media (min-width: 768px) {
  .hero__photo {
    bottom: -10rem;
  }
}

.menus {
  width: 100%;
  background: #f6f6f6;
  border-radius: 2.5rem 2.5rem 0 0;
  padding: 2rem 1.06rem 2.5rem 1.06rem;
}
@media (min-width: 768px) {
  .menus {
    width: 75%;
    margin: 0 auto;
    padding-top: 3.19rem;
  }
}
.menus__titleBar {
  width: 100%;
  align-items: center;
  gap: 0.75rem;
}
@media (min-width: 768px) {
  .menus__titleBar {
    justify-content: center;
  }
}
.menus__titleBar-title {
  font-size: 1.75rem;
  width: 85%;
}
@media (min-width: 768px) {
  .menus__titleBar-title {
    width: 20%;
    min-width: 17rem;
  }
}
.menus__dishcards {
  width: 100%;
  margin: auto;
  max-width: 21.81rem;
}
@media (min-width: 768px) {
  .menus__dishcards {
    max-width: 39.62rem;
  }
}
.menus__dishcards h2 {
  font-size: 1rem;
  margin: 2.5rem 0 0.75rem 0;
}
.menus__dishcards-borderTitle {
  width: 2.5rem;
  font-size: 1rem;
  line-height: 2rem;
  border-bottom: 0.18rem solid #99e2d0;
  padding-left: 0;
  animation: crescendo reverse 3000ms forwards;
}

.cta {
  margin: 2.5rem auto 0 auto;
}/*# sourceMappingURL=style.css.map */