
%flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

%flex-row{
    display:flex;
    flex-direction:row;
    align-items: center;
}

%margin-sections-accueil{
    margin:3.56rem 1.25rem;
}
%accueil-icone{
    width:0.81rem;
    height:1.24rem;
    color:#7E7E7E;
    }