/*colors*/

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$location-bg-color: #eaeaea;
$footer-bg: #353535;
$text-white: #fff;
$accueil-icone-color: #7e7e7e;
$accueil_card-bgcolor: #f6f6f6;

/*Button*/

$button-gradient-1: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
$button-gradient-2: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.15) 100%
  ),
  linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);

$button-border-rad: 1.56rem;

/*cards restaurant*/

$restaurant-cards-br: 0.94rem; /*define the restaurants cards border-radius*/

/*Cards accueil*/

$--accueil-bg-color: #f6f6f6;
